<head>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport">

    <title>
        {% if page.use-site-title %}
            {{ site.title }} {{ site.title-separator }} {{ site.description }}
        {% elsif page.title %}
            {{page.title }}
        {% else %}
            {{ site.title }}
        {% endif %}
    </title>

    <meta content="{{ site.author.name }}" name="author"/>
    {% if page.subtitle %}
        <meta content="{{ page.subtitle }}" name="description">
    {% endif %}

    <!-- <link href="{{ site.baseurl }}/feed.xml" rel="alternate" title="{{ site.title }} {{ site.title-separator }} {{ site.description }}" type="application/rss+xml"/> -->

    {% if layout.common-css %}
        {% for css in layout.common-css %}
            <link href="{{ css | relative_url | replace: '//', '/' }}" rel="stylesheet"/>
        {% endfor %}
    {% endif %}

    {% if page.css %}
        {% for css in page.css %}
            <link href="{{ css | relative_url | replace: '//', '/' }}" rel="stylesheet"/>
        {% endfor %}
    {% endif %}

</head>