.vcenter-cv {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.card-columns {
    column-count: 6;
    @include media-breakpoint-only(lg) {
      column-count: 4;
    }
    @include media-breakpoint-only(xl) {
      column-count: 5;
    }
  }

.popover-title {
  text-align: center;
}

.carousel-inner .item img {
  max-height: 682px;
  height: auto;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}