{% capture id %}{{include.section.name | downcase | remove: ' '}}{%endcapture%}
{%if include.use_name == 'true' %}
<div class="row">
    <div class="col-lg-3"></div>
    <h2 class="col-lg-9">{{include.section.name}}</h2>
</div>
{% endif %}
<div class="panel-group" id="accordion-{{id}}" role="tablist" aria-multiselectable="true">
    {% for info in include.section.list %}
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading-{{id}}-{{forloop.index}}">
            <div class="panel-title row">
                <a role="button" data-toggle="collapse" data-parent="#accordion-{{id}}" href="#collapse-{{id}}-{{forloop.index}}" aria-expanded="false" aria-controls="collapse-{{id}}-{{forloop.index}}">
                    <h4 class="col-lg-3 vcenter text-right">
                        <code>{{info.years}}</code>
                    </h4>
                    <h4 class="col-lg-6 vcenter text-left">
                        {{ info.position }} @ {{ info.institution | markdownify | remove: '<p>' | remove: '</p>'}}
                    </h4> 
                    {% if info.city %}
                    <h4 class="col-lg-2 vcenter text-left">
                        <i class="fa fa-globe fa-lg"></i> {{ info.city }}
                    </h4>
                    {% endif %}
                </a>
            </div>
        </div>
        <div id="collapse-{{id}}-{{forloop.index}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-{{id}}-{{forloop.index}}">
            <div class="panel-body row">
                {% if info.links %}
                <div class="col-lg-3 vcenter">
                    {% for liinfo in info.links %}
                    <h5>
                        <a class="panel-title" href="{{liinfo.link}}">
                            <i class="fa fa-link fa-lg"></i> {{liinfo.name}}
                        </a>
                        <br>
                    </h5>
                    {% endfor %}
                </div>
                <div class="col-lg-8 vcenter" >
                {% else %}
                <div class="col-lg-offset-3 col-lg-8 vcenter" >
                {% endif %}
{{ info.description | markdownify}}
                    {% if info.skills %}
                    <blockquote> Skills: {{ info.skills }} </blockquote>
                    {% endif %}
                    {% if info.projects %}
                    <blockquote> Projects: {{ info.projects }} </blockquote>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{%endfor%}
</div>