{%comment%}
<nav class="navbar fixed-top navbar-custom bg-light">
  <div class="container-fluid">
    <div class="navbar-header">
      {% comment %}
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {% endcomment %}
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
      </button>
      {% if site.title-img %}
        <a class="navbar-brand navbar-brand-logo" href="{{ site.url }}"><img src="{{ site.title-img }}"/></a>
      {% else %}
        <a class="navbar-brand" href="{{ site.url }}">{{ site.title }}</a>
      {% endif %}
    </div>

    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav navbar-nav navbar-right">
      {% for link in site.data.navbar_links %}
        {% if link.sublinks %}
          <li class="navlinks-container">
            <a class="navlinks-parent" href="{{link.link}}">{{ link.name }}</a>
            <div class="navlinks-children">
              {% for childlink in link.sublinks %}
                  {% include template/navbarlink.html link=childlink %}
              {% endfor %}
            </div>
          </li>
        {% else %}
          <li>
            {% include template/navbarlink.html link=link %}
          </li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>

	{% if page.image and (layout.show-avatar or page.show-avatar) %}
	<div class="avatar-container">
	  <div class="avatar-img-border">
	    <a href="{{ site.url }}">
	      <img class="avatar-img" src="{{ page.image | prepend: site.baseurl | replace: '//', '/' }}" />
		</a>
	  </div>
	</div>
	{% elsif site.avatar and (layout.show-avatar or page.show-avatar) %}
	<div class="avatar-container">
	  <div class="avatar-img-border">
	    <a href="{{ site.url }} ">
	      <img class="avatar-img" src="{{ site.avatar | prepend: site.baseurl | replace: '//', '/' }}" />
		</a>
	  </div>
	</div>
	{% endif %}

  </div>
</nav>
{%endcomment%}

<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light navbar-custom">
        {% if site.title-img %}
        <a class="navbar-brand navbar-brand-logo" href="{{ site.url }}"><img src="{{ site.title-img }}"/></a>
      {% else %}
        <a class="navbar-brand" href="{{ site.url }}">{{ site.title }}</a>
      {% endif %}
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation" >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse mr-auto" id="main-navbar">
    <ul class="navbar-nav ml-lg-auto">
      {% for link in site.data.navbar_links %}
        {% if link.sublinks %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop{{forloop.index}}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ link.name }}
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbardrop{{forloop.index}}">
              {% for childlink in link.sublinks %}
                  {% include template/navbarlink.html link=childlink dropdown=true %}
              {% endfor %}
            </div>
          </li>
        {% else %}
          <li class="nav-item">
            {% include template/navbarlink.html link=link %}
          </li>
        {% endif %}
        {% endfor %}
    </ul>
  </div>

  {% if page.image and (layout.show-avatar or page.show-avatar) %}
  <div class="avatar-container">
    <div class="avatar-img-border">
      <a href="{{ site.url }}">
        <img class="avatar-img" src="{{ page.image | prepend: site.baseurl | replace: '//', '/' }}" />
    </a>
    </div>
  </div>
  {% elsif site.avatar and (layout.show-avatar or page.show-avatar) %}
  <div class="avatar-container">
    <div class="avatar-img-border">
      <a href="{{ site.url }} ">
        <img class="avatar-img" src="{{ site.avatar | prepend: site.baseurl | replace: '//', '/' }}" />
    </a>
    </div>
  </div>
  {% endif %}
</nav>