{% capture before %}{{ include.link.link | split: "://" | first }}{% endcapture %}
{% capture after %}{{ include.link.link | split: "://" | last }}{% endcapture %}
{% assign internal = true %}
{% if before != after %}
  {% if before == "http" or before == "https" %}
    {% assign internal = false %}
  {% endif %}
{% endif %}

{% if internal %}
  {% capture linkurl %}{{ site.baseurl }}/{{ include.link.link }}{% endcapture %}
{% else %}
  {% capture linkurl %}{{ include.link.link }}{% endcapture %}
{% endif %}
{% if include.dropdown %}
<a class="dropdown-item" href="{{ linkurl }}">{{ include.link.name }}</a>
{% else %}
<a class="nav-link" href="{{ linkurl }}">{{ include.link.name }}</a>
{%endif%}